.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.header {
  margin: -2.5rem 0 0 -2.5rem;

  font-size: 7.95rem;
  font-weight: 300;
  line-height: 110%;
  letter-spacing: -0.05em;
}

.main-top,
.main-bottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1.875rem;
}

.main-top-left,
.main-bottom-left {
  display: flex;
  flex-direction: column;

  & label {
    margin-bottom: 1.25rem;

    font-size: 3.863rem;
    font-weight: 300;
    line-height: 110%;
    letter-spacing: -0.05em;
  }

  & input[type="password"],
  & input[type="text"] {
    margin-bottom: 3rem;
    padding: 0.25rem;

    border-radius: 0.5rem;
    outline: solid 1px var(--gray);

    font-size: 1.877rem;
    font-weight: 300;
    line-height: 110%;
    letter-spacing: -0.01em;
  }

  & input {
    margin-bottom: 3rem;
  }

  & textarea {
    padding: 0.25rem;

    border-radius: 0.5rem;
    outline: solid 1px var(--gray);

    font-size: 1.877rem;
    font-weight: 300;
    line-height: 110%;
    letter-spacing: -0.01em;
  }
}

.main-top-right,
.main-bottom-right {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  & h3 {
    font-size: 3.863rem;
    font-weight: 300;
    line-height: 110%;
    letter-spacing: -0.05em;
  }
}

.preview-container {
  margin-bottom: 1.25rem;
  border-radius: 2.5rem;
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preview-info-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.preview-thumbnail-wrapper {
  border-radius: 2.5rem;
  overflow: hidden;
}

.preview-thumbnail-label {
  cursor: pointer;
}

.preview-thumbnail {
  width: 100%;
  height: auto;

  display: block;
  user-select: none;
}

.preview-info {
  padding: 1.875rem 1.875rem 0;

  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.preview-name {
  color: var(--white);
  font-size: 1.875rem;
  line-height: 100%;
  letter-spacing: -0.05em;
}

.preview-description {
  color: var(--white);
  font-size: 1rem;
  line-height: 110%;
}

.preview-button-container {
  padding: 1.25rem 1.875rem 1.875rem;
}

.preview-button {
  padding: 1.25rem 1.875rem;
  border-radius: 3.75rem;
  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--white);

  display: flex;
  gap: 0.5rem;
  align-items: center;

  background: none;
  cursor: pointer;
}

.preview-button-text {
  color: var(--white);
  font-family: var(--font-helvetica-neue-cyr), var(--font-pretendard);
  font-size: 1.125rem;
  letter-spacing: -0.05em;
}

.preview-button-icon-wrapper {
  position: relative;
  rotate: 45deg;
  width: 1.5rem;
  height: 1.5rem;

  overflow: hidden;
}

.preview-button-icon {
  position: absolute;
  rotate: -45deg;
  top: 0;
  left: 0;

  color: var(--yellow);
  font-size: 1.5rem;
}

.preview-button-icon-second {
  position: absolute;
  rotate: -45deg;
  top: 1.5rem;
  left: 0;

  color: var(--yellow);
  font-size: 1.5rem;
}

.hr {
  margin-bottom: 2rem;
  border: 0.05rem inset;
}

.main-bottom-right-header {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.main-bottom-right-header-icon {
  border-radius: 50%;

  font-size: 1.877rem;
  line-height: 0;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.resource-preview-image {
  border-radius: 0.5rem;
  outline: solid 1px var(--gray);

  max-width: 100%;
  height: auto;
}

.resource-preview-description-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.resource-preview-remove-icon {
  border-radius: 50%;

  font-size: 1.476rem;
  line-height: 0;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.resource-preview-file-name {
  font-size: 1.476rem;
  font-weight: 300;
  line-height: 110%;
  letter-spacing: -0.01em;
}

@media screen and (max-width: 110em) {
  .container {
    gap: calc(3rem * 0.875);
  }

  .header {
    margin: calc(-2.5rem * 0.875) 0 0 calc(-2.5rem * 0.875);

    font-size: calc(7.95rem * 0.875);
  }

  .main-top,
  .main-bottom {
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
  }

  .main-top-left,
  .main-bottom-left {
    & label {
      margin-bottom: calc(1.25rem * 0.875);

      font-size: calc(3.863rem * 0.875);
    }

    & input[type="password"],
    & input[type="text"] {
      margin-bottom: calc(3rem * 0.875);
      padding: calc(0.25rem * 0.875);

      border-radius: calc(0.5rem * 0.875);

      font-size: calc(1.877rem * 0.875);
    }

    & input {
      margin-bottom: calc(3rem * 0.875);
    }

    & textarea {
      padding: calc(0.25rem * 0.875);

      border-radius: calc(0.5rem * 0.875);

      font-size: calc(1.877rem * 0.875);
    }
  }

  .main-top-right,
  .main-bottom-right {
    gap: calc(1.25rem * 0.875);

    & h3 {
      font-size: calc(3.863rem * 0.875);
    }
  }

  .preview-container {
    margin-bottom: calc(1.25rem * 0.875);
  }

  .hr {
    margin-bottom: calc(2rem * 0.875);
    border: calc(0.05rem * 0.875) inset;
  }

  .main-bottom-right-header {
    gap: calc(1rem * 0.875);
  }

  .main-bottom-right-header-icon {
    font-size: calc(1.877rem * 0.875);
  }

  .resource-preview-image {
    border-radius: calc(0.5rem * 0.875);
  }

  .resource-preview-description-container {
    gap: calc(0.25rem * 0.875);
  }

  .resource-preview-remove-icon {
    font-size: calc(1.476rem * 0.875);
  }

  .resource-preview-file-name {
    font-size: calc(1.476rem * 0.875);
  }
}

@media screen and (max-width: 80em) {
  .container {
    gap: calc(3rem * 0.75);
  }

  .header {
    margin: calc(-2.5rem * 0.75) 0 0 calc(-2.5rem * 0.75);

    font-size: calc(7.95rem * 0.75);
  }

  .main-top,
  .main-bottom {
    grid-template-columns: 1fr 1fr;
    gap: 1.125rem;
  }

  .main-top-left,
  .main-bottom-left {
    & label {
      margin-bottom: calc(1.25rem * 0.75);

      font-size: calc(3.863rem * 0.75);
    }

    & input[type="password"],
    & input[type="text"] {
      margin-bottom: calc(3rem * 0.75);
      padding: calc(0.25rem * 0.75);

      border-radius: calc(0.5rem * 0.75);

      font-size: calc(1.877rem * 0.75);
    }

    & input {
      margin-bottom: calc(3rem * 0.75);
    }

    & textarea {
      padding: calc(0.25rem * 0.75);

      border-radius: calc(0.5rem * 0.75);

      font-size: calc(1.877rem * 0.75);
    }
  }

  .main-top-right,
  .main-bottom-right {
    gap: calc(1.25rem * 0.75);

    & h3 {
      font-size: calc(3.863rem * 0.75);
    }
  }

  .preview-container {
    margin-bottom: calc(1.25rem * 0.75);
  }

  .hr {
    margin-bottom: calc(2rem * 0.75);
    border: calc(0.05rem * 0.75) inset;
  }

  .main-bottom-right-header {
    gap: calc(1rem * 0.75);
  }

  .main-bottom-right-header-icon {
    font-size: calc(1.877rem * 0.75);
  }

  .resource-preview-image {
    border-radius: calc(0.5rem * 0.75);
  }

  .resource-preview-description-container {
    gap: calc(0.25rem * 0.75);
  }

  .resource-preview-remove-icon {
    font-size: calc(1.476rem * 0.75);
  }

  .resource-preview-file-name {
    font-size: calc(1.476rem * 0.75);
  }
}

@media screen and (max-width: 50em) {
  .container {
    gap: calc(3rem * 0.625);
  }

  .header {
    margin: 0;

    font-size: calc(7.95rem * 0.625);
  }

  .main-top,
  .main-bottom {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .main-top-left,
  .main-bottom-left {
    & label {
      margin-bottom: calc(1.25rem * 0.625);

      font-size: calc(3.863rem * 0.625);
    }

    & input[type="password"],
    & input[type="text"] {
      margin-bottom: calc(3rem * 0.625);
      padding: calc(0.25rem * 0.625);

      border-radius: calc(0.5rem * 0.625);

      font-size: calc(1.877rem * 0.625);
    }

    & input {
      margin-bottom: calc(3rem * 0.625);
    }

    & textarea {
      padding: calc(0.25rem * 0.625);

      border-radius: calc(0.5rem * 0.625);

      font-size: calc(1.877rem * 0.625);
    }
  }

  .main-top-right,
  .main-bottom-right {
    gap: calc(1.25rem * 0.625);

    & h3 {
      font-size: calc(3.863rem * 0.625);
    }
  }

  .preview-container {
    margin-bottom: calc(1.25rem * 0.625);
  }

  .hr {
    margin-bottom: calc(2rem * 0.625);
    border: calc(0.05rem * 0.625) inset;
  }

  .main-bottom-right-header {
    gap: calc(1rem * 0.625);
  }

  .main-bottom-right-header-icon {
    font-size: calc(1.877rem * 0.625);
  }

  .resource-preview-image {
    border-radius: calc(0.5rem * 0.625);
  }

  .resource-preview-description-container {
    gap: calc(0.25rem * 0.625);
  }

  .resource-preview-remove-icon {
    font-size: calc(1.476rem * 0.625);
  }

  .resource-preview-file-name {
    font-size: calc(1.476rem * 0.625);
  }
}

@media screen and (max-width: 35em) {
  .container {
    gap: calc(3rem * 0.5625);
  }

  .header {
    font-size: calc(7.95rem * 0.5625);
  }

  .main-top-left,
  .main-bottom-left {
    & label {
      margin-bottom: calc(1.25rem * 0.5625);

      font-size: calc(3.863rem * 0.5625);
    }

    & input[type="password"],
    & input[type="text"] {
      margin-bottom: calc(3rem * 0.5625);
      padding: calc(0.25rem * 0.5625);

      border-radius: calc(0.5rem * 0.5625);

      font-size: calc(1.877rem * 0.5625);
    }

    & input {
      margin-bottom: calc(3rem * 0.5625);
    }

    & textarea {
      padding: calc(0.25rem * 0.5625);

      border-radius: calc(0.5rem * 0.5625);

      font-size: calc(1.877rem * 0.5625);
    }
  }

  .main-top-right,
  .main-bottom-right {
    gap: calc(1.25rem * 0.5625);

    & h3 {
      font-size: calc(3.863rem * 0.5625);
    }
  }

  .preview-container {
    margin-bottom: calc(1.25rem * 0.5625);
  }

  .hr {
    margin-bottom: calc(2rem * 0.5625);
    border: calc(0.05rem * 0.5625) inset;
  }

  .main-bottom-right-header {
    gap: calc(1rem * 0.5625);
  }

  .main-bottom-right-header-icon {
    font-size: calc(1.877rem * 0.5625);
  }

  .resource-preview-image {
    border-radius: calc(0.5rem * 0.5625);
  }

  .resource-preview-description-container {
    gap: calc(0.25rem * 0.5625);
  }

  .resource-preview-remove-icon {
    font-size: calc(1.476rem * 0.5625);
  }

  .resource-preview-file-name {
    font-size: calc(1.476rem * 0.5625);
  }
}
