.mdx-container {
  word-wrap: break-word;
}

.mdx-container sup {
  margin-left: 0.15em;
  vertical-align: top;

  font-size: 0.618em;
  line-height: 120%;
}

.mdx-container sup a {
  color: var(--blue);
  text-decoration: none;
}

.data-footnote-backref {
  color: var(--blue);
  font-size: 0.618em;
  line-height: 120%;

  text-decoration: none;
}

.data-footnote-backref sup {
  vertical-align: baseline;
}

.mdx-container sup a:hover,
.data-footnote-backref:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
}

.mdx-container table {
  margin-bottom: 1.25rem;
  border-collapse: collapse;
}

.mdx-container th,
.mdx-container td {
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray);
  padding: 0.25rem 0.5rem;

  font-size: 1.877rem;
  font-weight: 300;
  line-height: 110%;
}

.mdx-container th {
  background-color: var(--gray-light);

  font-weight: 500;
}

.contains-task-list {
  margin: 2rem 0;
  padding-left: 2.5rem;

  font-size: 1.877rem;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.01em;
}

.contains-task-list p {
  margin: 1rem 0;

  line-height: 120%;
}

.task-list-item {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

.task-list-item * {
  margin: 1rem 0;
}

.task-list-item input[type="checkbox"] {
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray);
  border-radius: 25%;

  position: relative;
  vertical-align: top;
  top: 0.7512rem;

  appearance: none;
  width: 0.75rem;
  height: 0.75rem;

  background-color: inherit;
}

.task-list-item input[type="checkbox"]:checked::before {
  position: absolute;
  transform: translate(-15%, -60%);

  color: var(--gray-dark);
  font-family: var(--font-segoe-ui-symbol);
  font-size: 1.5rem;

  content: "✔";
}

.sr-only {
  margin: 3rem 0 1.25rem 0;

  font-size: 2.387rem;
  font-weight: 300;
  line-height: 110%;
  letter-spacing: -0.05em;
}

@media screen and (max-width: 110em) {
  .mdx-container table {
    margin-bottom: calc(1.25rem * 0.875);
  }

  .mdx-container th,
  .mdx-container td {
    padding: calc(0.25rem * 0.875) calc(0.5rem * 0.875);

    font-size: calc(1.877rem * 0.875);
  }

  .contains-task-list {
    margin: calc(2rem * 0.875) 0;
    padding-left: calc(2.5rem * 0.875);

    font-size: calc(1.877rem * 0.875);
  }

  .contains-task-list p {
    margin: calc(1rem * 0.875) 0;
  }

  .task-list-item {
    margin-bottom: calc(1rem * 0.875);
    padding-left: calc(0.5rem * 0.875);
  }

  .task-list-item * {
    margin: calc(1rem * 0.875) 0;
  }

  .task-list-item input[type="checkbox"] {
    top: calc(0.7512rem * 0.875);

    width: calc(0.75rem * 0.875);
    height: calc(0.75rem * 0.875);
  }

  .task-list-item input[type="checkbox"]:checked::before {
    font-size: calc(1.5rem * 0.875);
  }

  .sr-only {
    margin: calc(3rem * 0.875) 0 calc(1.25rem * 0.875) 0;

    font-size: calc(2.387rem * 0.875);
  }
}

@media screen and (max-width: 80em) {
  .mdx-container table {
    margin-bottom: calc(1.25rem * 0.75);
  }

  .mdx-container th,
  .mdx-container td {
    padding: calc(0.25rem * 0.75) calc(0.5rem * 0.75);

    font-size: calc(1.877rem * 0.75);
  }

  .contains-task-list {
    margin: calc(2rem * 0.75) 0;
    padding-left: calc(2.5rem * 0.75);

    font-size: calc(1.877rem * 0.75);
  }

  .contains-task-list p {
    margin: calc(1rem * 0.75) 0;
  }

  .task-list-item {
    margin-bottom: calc(1rem * 0.75);
    padding-left: calc(0.5rem * 0.75);
  }

  .task-list-item * {
    margin: calc(1rem * 0.75) 0;
  }

  .task-list-item input[type="checkbox"] {
    top: calc(0.7512rem * 0.75);

    width: calc(0.75rem * 0.75);
    height: calc(0.75rem * 0.75);
  }

  .task-list-item input[type="checkbox"]:checked::before {
    font-size: calc(1.5rem * 0.75);
  }

  .sr-only {
    margin: calc(3rem * 0.75) 0 calc(1.25rem * 0.75) 0;

    font-size: calc(2.387rem * 0.75);
  }
}

@media screen and (max-width: 50em) {
  .mdx-container table {
    margin-bottom: calc(1.25rem * 0.625);
  }

  .mdx-container th,
  .mdx-container td {
    padding: calc(0.25rem * 0.625) calc(0.5rem * 0.625);

    font-size: calc(1.877rem * 0.625);
  }

  .contains-task-list {
    margin: calc(2rem * 0.625) 0;
    padding-left: calc(2.5rem * 0.625);

    font-size: calc(1.877rem * 0.625);
  }

  .contains-task-list p {
    margin: calc(1rem * 0.625) 0;
  }

  .task-list-item {
    margin-bottom: calc(1rem * 0.625);
    padding-left: calc(0.5rem * 0.625);
  }

  .task-list-item * {
    margin: calc(1rem * 0.625) 0;
  }

  .task-list-item input[type="checkbox"] {
    top: calc(0.7512rem * 0.625);

    width: calc(0.75rem * 0.625);
    height: calc(0.75rem * 0.625);
  }

  .task-list-item input[type="checkbox"]:checked::before {
    font-size: calc(1.5rem * 0.625);
  }

  .sr-only {
    margin: calc(3rem * 0.625) 0 calc(1.25rem * 0.625) 0;

    font-size: calc(2.387rem * 0.625);
  }
}

@media screen and (max-width: 35em) {
  .mdx-container table {
    margin-bottom: calc(1.25rem * 0.5625);
  }

  .mdx-container th,
  .mdx-container td {
    padding: calc(0.25rem * 0.5625) calc(0.5rem * 0.5625);

    font-size: calc(1.877rem * 0.5625);
  }

  .contains-task-list {
    margin: calc(2rem * 0.5625) 0;
    padding-left: calc(2.5rem * 0.5625);

    font-size: calc(1.877rem * 0.5625);
  }

  .contains-task-list p {
    margin: calc(1rem * 0.5625) 0;
  }

  .task-list-item {
    margin-bottom: calc(1rem * 0.5625);
    padding-left: calc(0.5rem * 0.5625);
  }

  .task-list-item * {
    margin: calc(1rem * 0.5625) 0;
  }

  .task-list-item input[type="checkbox"] {
    top: calc(0.7512rem * 0.5625);

    width: calc(0.75rem * 0.5625);
    height: calc(0.75rem * 0.5625);
  }

  .task-list-item input[type="checkbox"]:checked::before {
    font-size: calc(1.5rem * 0.5625);
  }

  .sr-only {
    margin: calc(3rem * 0.5625) 0 calc(1.25rem * 0.5625) 0;

    font-size: calc(2.387rem * 0.5625);
  }
}
