:root {
  --white: #ffffff;
  --black: #1a1a1a;
  --gray: #a3a3a3;
  --gray-dark: #585858;
  --gray-light: #ececec;
  --red: #f97583;
  --blue: #005cff;
  --yellow: #ffdc1f;
  --github-white: #e1e4e8;
  --github-black: #24292e;
  --github-red: #f97583;
  --github-blue: #79b8ff;
  --github-orange: #ffab70;
  --github-purple: #b392f0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body,
html {
  color: var(--black);
  background: var(--white);
  font-family: var(--font-helvetica-neue-cyr), var(--font-pretendard);

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

input,
textarea {
  font-family: var(--font-helvetica-neue-cyr), var(--font-pretendard);

  outline: none;
  background: none;
  resize: none;
}

a {
  color: var(--black);
  text-decoration-thickness: 0.05em;
}

del {
  text-decoration-thickness: 0.05em;
}

strong {
  font-weight: 500;
}

code {
  font-family: var(--font-jetbrains-mono), var(--font-pretendard);
}

.hidden-y {
  overflow-y: hidden;
}
