:root {
  --white: #ffffff;
  --black: #1a1a1a;
  --gray: #a3a3a3;
  --gray-dark: #585858;
  --gray-light: #ececec;
  --red: #f97583;
  --blue: #005cff;
  --yellow: #ffdc1f;
  --github-white: #e1e4e8;
  --github-black: #24292e;
  --github-red: #f97583;
  --github-blue: #79b8ff;
  --github-orange: #ffab70;
  --github-purple: #b392f0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body,
html {
  color: var(--black);
  background: var(--white);
  font-family: var(--font-helvetica-neue-cyr), var(--font-pretendard);

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

a {
  color: var(--black);
  text-decoration-thickness: 0.05em;
}

del {
  text-decoration-thickness: 0.05em;
}

strong {
  font-weight: 500;
}

code {
  font-family: var(--font-jetbrains-mono), var(--font-pretendard);
}

button {
  padding: 1.25rem 1.875rem;
  border: none;
  border-radius: 3.75rem;
  outline-style: solid;
  outline-width: 1px;

  display: flex;
  gap: 0.5rem;
  align-items: center;

  background: none;
  cursor: pointer;
}

.button-black {
  outline-color: var(--black);

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.button-white {
  outline-color: var(--white);

  &:hover {
    background-color: rgba(255, 255, 255, 0.03);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.button-text-black {
  font-size: 1.125rem;
  line-height: 100%;
  letter-spacing: -0.05em;
}

.button-text-white {
  color: var(--white);
  font-size: 1.125rem;
  line-height: 100%;
  letter-spacing: -0.05em;
}

.button-icon {
  color: var(--yellow);
  font-size: 1.5rem;
}

.hidden-y {
  overflow-y: hidden;
}
