.wrapper {
  padding: 8rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.875rem;
}

.project-container {
  border-radius: 2.5rem;
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-info-box {
  display: flex;
  flex-direction: column;
}

.project-title-image {
  width: 100%;
  height: auto;
  border-radius: 2.5rem;

  display: block;
}

.project-info {
  padding: 1.875rem 1.875rem 0;

  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  color: var(--white);
}

.project-title {
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.05em;
}

.project-description {
  line-height: 110%;
}

.project-button-container {
  padding: 1.25rem 1.875rem 1.875rem;
}

@media screen and (max-width: 110em) {
  .wrapper {
    padding: 6rem;
  }

  .container {
    gap: 4rem;
  }

  .content {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
  }
}

@media screen and (max-width: 80em) {
  .wrapper {
    padding: 4rem;
  }

  .container {
    gap: 3rem;
  }

  .content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.125rem;
  }
}

@media screen and (max-width: 50em) {
  .wrapper {
    padding: 2rem;
  }

  .container {
    gap: 2rem;
  }

  .content {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
  }
}

@media screen and (max-width: 35em) {
  .wrapper {
    padding: 1rem;
  }

  .container {
    gap: 1.5rem;
  }

  .content {
    gap: 1rem;
  }
}
