.wrapper {
  padding: 8rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.875rem;
}

@media screen and (max-width: 110em) {
  .wrapper {
    padding: 6rem;
  }

  .container {
    gap: 4rem;
  }

  .content {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
  }
}

@media screen and (max-width: 80em) {
  .wrapper {
    padding: 4rem;
  }

  .container {
    gap: 3rem;
  }

  .content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.125rem;
  }
}

@media screen and (max-width: 50em) {
  .wrapper {
    padding: 2rem;
  }

  .container {
    gap: 2rem;
  }

  .content {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
  }
}

@media screen and (max-width: 35em) {
  .wrapper {
    padding: 1rem;
  }

  .container {
    gap: 1.5rem;
  }

  .content {
    gap: 1rem;
  }
}
