.wrapper {
  padding: 8rem;
}

@media screen and (max-width: 110em) {
  .wrapper {
    padding: 6rem;
  }
}

@media screen and (max-width: 80em) {
  .wrapper {
    padding: 4rem;
  }
}

@media screen and (max-width: 50em) {
  .wrapper {
    padding: 2rem;
  }
}

@media screen and (max-width: 35em) {
  .wrapper {
    padding: 1rem;
  }
}
